@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

/* bawaan gemini */
.nav-tabs .nav-link { 
    color: #555; 
}

.nav-tabs .nav-link.active { 
    font-weight: bold;
    color: #0d6efd;
}

/* general styling*/
body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    min-height: 1vh;
    color: black;
}
.shadow{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 
                0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* header */
header{
    padding-block: 2rem;
    padding-inline: 3rem;
    background-color: rgb(255, 255, 255);
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100%, 1fr));
    gap: 2rem;

    padding: 3rem;
}


/* styling header */


/* styling filter card */
/* wrap filter card */
.wrap{
    margin-inline-start: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-card {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr)) ;
    gap: 24px;
    color: white;

    margin: 0;
    padding: 0;
}

.total-pesanan{
    background-color: blue;
    border-radius: 15px;

    display: flex;
    align-items: center;

    padding-block: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.sukses-sinkron {
    background-color: green;
    border-radius: 15px;

    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    padding-block: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.gagal-sinkron{
    background-color: red;
    border-radius: 15px;

    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    padding-block: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.total-pesanan h6, .sukses-sinkron h6, .gagal-sinkron h6{
    font-size: 1rem;
    margin: 0;
}

.total-pesanan h3, .sukses-sinkron h3, .gagal-sinkron h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.total-pesanan:hover, .sukses-sinkron:hover, .gagal-sinkron:hover{
    transform: translateY(-5px);
    opacity: 0.7;
}

/* section tabel utama */
.data-table{
    border-radius: 10px;
    padding: 1rem;
}

/* section log error */
.error-log-table{
    border-radius: 10px;
    padding: 1rem;

    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important;
    gap: 2rem !important;
}
.error-log-table .card-header{
    padding-block: 1rem;
    border-radius: 10px !important;
}
.error-log-table .card-footer{
    display: flex;
}

.error-log-table .card-footer span{
    text-align: center;
}

.error-log-table .card-footer span, nav{
    flex-grow: 1;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

@media  screen and (max-width: 768px) {
    body{
        font-size: 10px !important;
        padding: 10px;
    }

    .total-pesanan, .sukses-sinkron, .gagal-sinkron{
        padding-block: 1rem;
    }


    .total-pesanan h6, .sukses-sinkron h6, .gagal-sinkron h6, .total-pesanan h3, .sukses-sinkron h3, .gagal-sinkron h3{
        font-size: 14px;
    }

    .order_id {
        font-size: 9px;
    }

    .action-button{
        font-size: 10px !important;
    }

    
}


